.sign__box {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: #f6f6f6;
}
.sign__head {
  background-color: #222f3e;
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  padding: 0.8rem;
  cursor: pointer;
}

.logo {
  color: white;
  font-weight: bold;
  font-size: 18px;
}
.sign__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.sign__main {
  max-width: 450px;
  padding: 1.2rem 1.4rem 2.8rem;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
}

.header__tag {
  font-weight: 500;
  font-size: 20px;
}

.form {
  padding: 0 7px;
  margin-top: -10px;
  width: 100%;
}
.form form {
  display: block;
  width: 100%;
}

.input__box label {
  font-weight: 520;
  font-size: 17px;
  padding-bottom: 1px;
}

.input__box input {
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  padding: 0 1.1rem;
  border-radius: 5px;
  background-color: #ffffff;
  border: 0.5px solid silver;
}

.input__box input:focus {
  box-shadow: 0 0 5px #e67600;
}
.btn {
  width: 100%;
}
.btn button {
  margin-top: 1rem;
  width: 100%;
  padding: 0.4rem 1rem;
  background-color: #f4d17b;
  border: none;
  border: 0.5px silver solid;
  border-radius: 4px;
  font-weight: 500;
  font-size: 18px;
}
.btn2 {
  width: 100%;
}
.btn2 button {
  margin-top: 1rem;
  width: 100%;
  padding: 0.4rem 1rem;
  background-color: #f3f4f6;
  border: none;
  border: 0.5px solid black;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
}
.btn2 button:hover {
  box-shadow: 0 0 5px #e67600;
}
.tow_lines {
  align-self: center;
  font-size: 14px;
}

.tow_lines:before,
.tow_lines:after {
  background-color: silver;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.tow_lines:before {
  right: 0.5em;
  margin-left: -50%;
}

.tow_lines:after {
  left: 0.5em;
  margin-right: -50%;
}

.error__box {
  border: 1px solid #8a6e01;
  width: 100%;
  background-color: #ffffff;
  padding: 0.5rem 1rem;
}

.error__box h5 {
  color: #7c6200;
}

.error__box p {
  font-size: 13px;
}
