/* Mobiles screens Header  */

.header__mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  background-color: #232e3e;
  width: 100%;
  transition: 0.3s;
}

.mobile__burger {
  padding: 0.3rem;
  cursor: pointer;
}

.logo {
  color: white;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

.mobile__right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 0.8rem;
  color: white;
  font-size: 13px;
}
.mobile__sign {
  cursor: pointer;
}

.mobile__cart {
  cursor: pointer;
}

.mobile__form {
  height: 53px;
  width: 100%;
  padding: 2px 10px 5px 10px;
  background: #232f3e;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
}
.mobile__serachbar {
  width: 100%;
  display: flex;
  align-content: center;
}

.mobile__serachbar input {
  border: none;
  padding: 0.2rem;
  width: 98%;
  height: 43px;
  border-radius: 10px;
  outline: none;
}

.mobile__serachbar button {
  border: 0;
  width: 13%;
  height: 43px;
  border-radius: 10px;
  background-color: #febd68;
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.mobile__location {
  background-color: #364759;
  height: 44px;
  display: flex;
  align-items: center;
  padding: 12px 10px 12px 10px;
}

.mobile__location span {
  color: #ffff;
  font-size: 12px;
  padding-left: 8px;
  font-weight: 500;
}

.mobile__sidenav {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  overflow: hidden;
}

.rightbar {
  display: flex;
  background-color: #ffff;
  flex-direction: column;
  min-height: 100vh;
  width: 80%;
}
.leftbar {
  width: 20%;
  flex-direction: column;
  justify-content: flex-start;
  display: flex;
  padding: 2rem 1.4rem;
  font-weight: bolder;
  cursor: pointer;
  min-height: 100vh;
}
.rightbar__top {
  display: flex;
  flex-direction: column;
  background-color: #222f3e;
  color: #ffff;
  height: 128px;
  padding: 0.8rem;
  justify-content: space-between;
}

.rightbar__top .mobile__sign {
  align-self: flex-end;
}

.rightbar .rightbar__head {
  align-items: flex-start;
}

.rightbar__head :first-child {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: -8px;
}

.rightbar__head :last-child {
  font-size: 24px;
  font-weight: 500;
}

.rightbar__rest {
  padding: 0.8rem;
}

.flex__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  padding: 1rem 0;
  cursor: pointer;
}
.flex__listY {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 18px;
  font-weight: bold;
  padding: 1rem 0;
}
.flex__listY p {
  font-size: 1rem;
  font-weight: 350;
  cursor: pointer;
}

.line {
  background-color: #d5dbdb;
  width: calc(1.8rem + 100%);
  margin-left: -1rem;
  height: 5px;
}

/* Big screens Header  */
.bg__header {
  display: none;
}

.bg__top {
  display: flex;
  width: 100%;
  height: 60px;
  background-color: #131921;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}
.bg__deliver {
  color: #ffff;
  font-size: 14px;
  font-weight: bold;
  text-align: start;
  display: flex;
  gap: 2px;
  cursor: pointer;
}
.bg__deliver :first-child {
  align-self: flex-end;
}
.bg__deliver__hello {
  font-size: 15px;
  font-weight: 200;
}

.bg__search {
  width: 40%;
  height: 38px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
}

.bg__search form {
  width: 100%;
  height: 100%;
}

.bg__serachbar {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #ffff;
}
.bg__serachbar input {
  width: 92%;
  display: block;
  height: 100%;
  border: none;
  outline: none;
  padding: 0 0.5rem;
  font-size: 17px;
}

.bg__serachbar button {
  height: 100%;
  border: 0;
  width: 8%;
  background-color: #febd68;
  cursor: pointer;
}
.bg__search form :focus {
  border: 2px #ff9900 solid;
  border-right: none;
}

.bg__hello {
  color: #ffff;
  font-weight: bold;
  cursor: pointer;
}
.bg__cart {
  color: #ffff;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
}
.bg__cartnumber {
  padding: 0.3rem;
  color: rgb(231, 131, 5);
  font-weight: 800;
}

.bg__down {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 0 2rem;
  color: #ffff;
  background-color: #222f3e;
  overflow: hidden;
}

.bg__down ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.bg__down ul li {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
}

@media screen and (min-width: 863px) {
  .mobile__header {
    display: none;
  }
  .bg__header {
    display: block;
  }
  .rightbar {
    width: 30%;
  }
  .leftbar {
    width: 70%;
  }
}

@media screen and (max-width: 810px) {
  .bg__top {
    padding: 0;
  }
}

@media screen and (min-width: 1300px) {
  .bg__search {
    width: 60%;
  }
  .bg__serachbar input {
    width: 95%;
  }

  .bg__serachbar button {
    width: 5%;
  }
}

@media screen and (max-height: px) {
  .mobile__sidenav {
    height: 0px;

    overflow: scroll !important;
  }

  .rightbar {
    height: 100%;
    padding: 0 0 2rem;
    overflow: scroll !important;
  }
  .leftbar {
    height: 100%;
    overflow: scroll !important;
  }
}
